
<div class="fixed pb-44 bottom-8 right-3 md:bottom-12 md:right-5">
    <button (click)="togglePlayPause()" class="flex items-center justify-center rounded">
        <img src="{{ isPlaying ? 'https://lh3.googleusercontent.com/drive-viewer/AKGpihZMJznIwxxDXvOeT34H5xauA_oii1YogiGCGJ29kHsDaM9VyohyIYJOgSeMhHqzsVOXIUSD7RIxmU2xMaNfuXoTaHts59y8Xhc=s2560' : 'https://lh3.googleusercontent.com/drive-viewer/AKGpihatZ0Nl-L8K9lBlLOfFJBMy6srBZKqgbV4ESFYdqZ55WCe31JNDjBSi_qybIsBx2mQIC3iKcWWPDJSuMn1sG25YnbEZVIVHeks=s2560'}}" alt="Play Button" class="max-h-8 max-w-8 md:max-h-14 md:max-w-14 rounded-full">
      </button>
  </div>
  