.zoom-out {
    position: relative;
    overflow: hidden;
    width: 80px; /* Sesuaikan ukuran dengan gambar Anda */
    height: 80px; /* Sesuaikan ukuran dengan gambar Anda */
    animation: zoomOut 5s ease-in-out infinite;
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Posisi zoom out maksimum */
    }
    100% {
        transform: scale(1);
    }
}