<div class="h-screen overflow-y-scroll scroll-smooth focus:scroll-auto animate__animated animate__fadeIn">
    <app-musik class="sticky top-0 z-50"></app-musik>
    <!-- section 1 -->
    <div class="animate__animated animate__fadeInDown animate__slow bg-dual min-h-screen flex items-center justify-center relative overflow-hidden">
    <div class="container mx-auto px-4 z-10 text-white">
        <h2 class="animate__animated animate__fadeIn text-2xl md:text-3xl font-semibold mb-8 text-center">The Wedding Of</h2>
        
        <div class="mb-6 text-center">
            <p class="animate__animated animate__fadeIn animate__delay-2s text-6xl md:text-8xl font-stalemate">Nesi & Yogta</p>
        </div>
        
        <div class="mb-6 text-center">
            <p class="animate__animated animate__fadeIn animate__delay-3s text-xl md:text-2xl">08.08.2024</p>
        </div>
        
        <img src="https://static.wixstatic.com/media/76d2f5_9bdd4d0081d941a2b3db9c18474d1ac3~mv2.gif" class="w-14 h-14 mx-auto animate__animated animate__fadeIn animate__delay-3s ">

    </div>
</div>

  
    <!-- section 2 -->
    <div class="animated-section min-h-screen flex items-center justify-center p-4 lg:p-8 relative cstm-bg">

<div class="animated-section flex flex-col lg:flex-row items-center justify-center w-full max-w-7xl relative z-10 container">
<div class="w-full lg:w-2/2 mb-8 lg:mb-0 lg:mr-8">
 <img  [src]="preWeddingImage" alt="Pre-wedding photo" class="w-full h-auto rounded-lg shadow-lg" #preWeddingPhoto>
</div>

<div class="w-full lg:w-2/2 text-center lg:text-left"> 
 <div class="bg-white bg-opacity-90 p-6 rounded-lg shadow-md">
   <p class="text-lg text-center md:text-xl lg:text-2xl mb-4 text-gray-800 italic">
     "Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari jenismu sendiri, agar kamu cenderung dan merasa tenteram kepadanya, dan Dia menjadikan di antaramu rasa kasih dan sayang. Sungguh, pada yang demikian itu benar-benar terdapat tanda-tanda (kebesaran Allah) bagi kaum yang berpikir."
   </p>
   <p class="text-center text-lg md:text-xl font-semibold" style="color: #83906f;">QS. Ar-Rum:21</p>
 </div>
</div>
</div>
</div>
  
    <!-- section 3 -->
    <div class="animated-section cstm-bg-1 min-h-screen flex flex-col items-center justify-center p-4">
     <div class="container mb-1 mt-2 p-4">
      <h2 class="text-sm md:text-2xl font-semibold text-center pb-2 z-10">Maha suci Allah yang telah menciptakan mahluk-Nya berpasang-pasangan.</h2>
      <h2 class="text-sm md:text-2xl font-semibold mb-2 text-center z-10">Ya Allah rahmatilah pernikahan kami :</h2>
     </div>
        
      <div class="container mx-auto px-2 z-0 flex items-center justify-center mt-1 md:mt-2">          
          <!-- Card Profil -->
          <div class="animated-section grid grid-cols-1 md:grid-cols-3 gap-3 items-center">
              <!-- Card 1 -->
              <div class="p-2 text-center bg-card">
                  <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihbJLt0SWiwmMWAPuTw4-j932lcFViZzZ1oLRPEL8B8hXZS_bFrgq5SWJklj5wo5K0OvwS-LmwaqSOLuWiBzMhL8UyINFPnJycU=s1600-rw-v1" alt="Foto Profil Nesi" class="w-1/3 md:2/5 lg:w-2/3 w-full rounded-full mx-auto mb-10 md:mb-16 shadow-md">
                  <h3 class="text-4xl md:text-6xl font-stalemate mb-2">Nesi Septiani S.Pd</h3>
                  <p class="text-md md:text-2xl">Putri dari Bapak Drs. Enceng & Ibu Tati Sumarni, S.Pd.SD</p>
                  
              </div>
              <div class="text-center">
                <h3 class="text-5xl md:text-8xl font-stalemate">&</h3>
              </div>
              <!-- Card 2 -->
              <div class="p-2 text-center bg-card">
                  <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihZMWMI6TIy7ANJR4dNnVcc3JyPgNIki7KGmP6iWYhX_wQi-TuzYvhu1SH9KENueGKGgOkulkcklMEg3hhcCU6SD5uKfYRbcx74=s1600-rw-v1" alt="Foto Profil Yogta" class="w-1/3 md:2/5 lg:w-2/3 w-full rounded-full mx-auto mb-10 md:mb-16 shadow-md">
                  <h3 class="text-4xl md:text-6xl font-stalemate mb-2">Adi Yogta Putra S.Kom</h3>
                  <p class="text-md md:text-2xl">Putra dari Bapak Wakid & Ibu Warsih</p>
              </div>
          </div>
      </div>
  </div>
  
  
    <!-- section 4 -->
    <div class="animated-section cstm-bg min-h-screen flex items-center justify-center p-4 md:p-8 flex-col">
  
      <!-- Kartu yang Sudah Ada -->
      <div class="animated-section bg-card-2 bg-white bg-opacity-90 container mx-auto rounded-tl-full rounded-tr-full md:rounded-full flex flex-col items-center justify-center shadow-lg p-12 md:p-14 mb-2 text-center">
          <h1 class="text-6xl md:text-8xl font-semibold mb-2 font-stalemate">Save the Date</h1>
          <p class="text-md md:text-xl font-semibold text-center">Tanpa mengurangi rasa hormat. Kami mengundang Bapak/Ibu/Saudara/i</p>
          <p class="text-md md:text-xl font-semibold text-center mb-5">serta Kerabat sekalian untuk menghadiri acara pernikahan kami:</p>
          <h2 class="text-4xl md:text-6xl mb-2 font-stalemate">Akad Nikah</h2>
          <div class="w-16 h-0.5 bg-green-900 mx-auto mb-4"></div>
          <p class="text-lg font-bold">Kamis, 08 Agustus 2024</p>
          <p class="mb-2">Pukul: 09:00 WIB s/d Selesai</p>
          <p class="italic mb-4 text-sm md:text-base">Tempat: Desa Bumidaya, Kec. Palas, Kab. Lampung Selatan, Lampung</p>
          
          <h2 class="text-4xl md:text-6xl font-stalemate mt-4 mb-2">Resepsi</h2>
          <div class="w-16 h-0.5 bg-green-900 mx-auto mb-4"></div>
          <p class="text-lg font-bold">Kamis, 08 Agustus 2024</p>
          <p class="mb-2">Pukul: 11:00 WIB s/d Selesai</p>
          <p class="italic mb-6 text-sm md:text-base">Tempat: Desa Bumidaya, Kec. Palas, Kab. Lampung Selatan, Lampung</p>
          
          <a href="https://maps.app.goo.gl/CZUVdFEfoMa3xpJVA" class="inline-block bg-green-900 text-white py-3 px-16 rounded-full hover:bg-green-700 transition duration-300 mx-auto">Lokasi Acara</a>
      </div>

       <!-- Kartu Baru -->
       <div class="bg-card-2 bg-white container bg-opacity-90 text-center mx-auto flex flex-col justify-center shadow-lg p-2 md:p-6 md:rounded-full">
        <p class="text-lg font-bold mb-2">Menuju Hari Bahagia</p>
        <div class="flex space-x-2 items-center justify-center">
          <div class="bg-white p-2 rounded-lg shadow">
            <span class="text-3xl md:text-4xl font-bold">{{ countdown().days }}</span>
            <p class="text-sm text-gray-600">Days</p>
          </div>
          <div class="bg-white p-2 rounded-lg shadow">
            <span class="text-3xl md:text-4xl font-bold">{{ countdown().hours }}</span>
            <p class="text-sm text-gray-600">Hours</p>
          </div>
          <div class="bg-white p-2 rounded-lg shadow">
            <span class="text-3xl md:text-4xl font-bold">{{ countdown().minutes }}</span>
            <p class="text-sm text-gray-600">Minutes</p>
          </div>
          <div class="bg-white p-2 rounded-lg shadow">
            <span class="text-3xl md:text-4xl font-bold">{{ countdown().seconds }}</span>
            <p class="text-sm text-gray-600">Seconds</p>
          </div>
        </div>
       </div>
  </div>
  
  
    <!-- section 5 Galeri-->
    <div class="animated-section min-h-screen flex-col items-center text-center justify-start pb-8 overflow-hidden">
      <div class="bg-[#fefae1] mb-6 shadow-lg pt-10 md:pt-12 pb-4 md:pb-8">
      <h1 class="text-6xl md:text-8xl font-semibold font-stalemate">Gallery</h1>
      </div>
      <div class="container mx-auto px-4 scrollbar-hide overflow-y-auto flex-grow py-8" style="max-height: calc(120vh - 8rem);">
        <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 py-6">
          @for (photo of photos; track photo.url; let i = $index) {
            <div class="cursor-pointer transition duration-300 ease-in-out transform hover:scale-105" (click)="openModal(i)">
              <img [src]="photo.url" [alt]="photo.title" class="w-full h-64 object-cover rounded-lg shadow-md animate__animated animate__fadeIn">
            </div>
          }
        </div>
      </div>
    </div>
  
    <!-- section 6 -->
    <div class=" cstm-bg min-h-screen flex-col pb-8 md:pb-12 items-center justify-center">
      <div class="animated-section bg-[#fefae1] mb-6 shadow-lg pt-10 md:pt-12 pb-4 md:pb-8 text-center">
          <h1 class=" text-6xl md:text-8xl font-semibold font-stalemate">Love Story</h1>
      </div>
      <div class="container mx-auto px-4 p-2">
          <div class="animated-section relative border-s border-gray-200 dark:border-gray-700 px-4">
              <div class="ms-4 bg-white p-6 rounded-lg my-4 flex items-center shadow-md">
                  <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <div class="sm:flex sm:items-center sm:justify-between w-full">
                      <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihYWcL-Gz3aabj6yHEGdDFnjJks-5O-lckS_nrTZqeUG3OjO3VVb30jxRA34oggaCXiK_9h67Uc7FHoF6xbT8yMc2o0xrbiiTpY=s1600-rw-v1" alt="Pertemuan" class="w-4/6 h-2/5 md:w-40 md:h-full rounded-xl object-cover mx-2 sm:order-1 sm:mb-0">
                      <div class="sm:ml-8 sm:flex-1">
                          <time class="mb-1 text-sm font-normal leading-none text-gray-400">Agustus 2014</time>
                          <h3 class="text-lg font-semibold text-gray-900">PERTEMUAN</h3>
                          <p class="mb-4 text-base font-normal text-gray-500">Tidak ada yang kebetulan di dunia ini, semua sudah tersusun rapih oleh sang maha kuasa, kami tidak bisa memilih kepada siapa kami akan jatuh cinta, kami bertemu pada tahun 2014, awal perkenalan terjadi kala itu kami kenalkan oleh salah seorang kerabat, tidak ada yang pernah menyangka bahwa perkenalan itu membawa kami pada suatu ikatan cinta yang suci hari ini.</p>
                      </div>
                  </div>
              </div>
              <div class="ms-4 bg-white p-6 rounded-lg my-4 flex items-center shadow-md">
                  <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <div class="sm:flex sm:items-center sm:justify-between w-full">
                      <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpiha-EKF-LhE6ZUUHK-yURPXW16JbJhU5WnCRiAMSasMpk_4m4lGhJRr1Ib5GoRpVM5XpsLbFa-BVHMsLzOpKbwwo1faJVKWY5TI=s1600-rw-v1" alt="Pendekatan" class="w-4/6 h-3/6 md:w-40 md:h-full rounded-xl object-cover mx-2 sm:order-1 sm:mb-0">
                      <div class="sm:ml-8 sm:flex-1">
                          <time class="mb-1 text-sm font-normal leading-none text-gray-400">Desember 2016</time>
                          <h3 class="text-lg font-semibold text-gray-900">PENDEKATAN</h3>
                          <p class="text-base font-normal text-gray-500">Katanya cinta dapat dengan tumbuh kebersamaan, seiring berjalannya waktu kami semakin dekat, kami LDR karena berjarak cukup jauh, sesekali kami menjadwalkan untuk bertemu dihari libur, berat memang tapi dapat kami lalui.</p>
                      </div>
                  </div>
              </div>
              <div class="ms-4 bg-white p-6 rounded-lg my-4 flex items-center shadow-md">
                  <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <div class="sm:flex sm:items-center sm:justify-between w-full">
                      <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihbFRLeB_njQIiIrwCb-jNwdDmGmsFv2PQSq_gzm4QsEuMq3IY1H1cetdS0VyLScX4Dfbvo9J0GLncTN4LkMpTRsIRUfJVdEVM8=s1600-rw-v1" alt="Lamaran" class="w-40 h-full rounded-xl object-cover mx-2 sm:order-1 sm:mb-0">
                      <div class="sm:ml-8 sm:flex-1">
                          <time class="mb-1 text-sm font-normal leading-none text-gray-400">September 2023</time>
                          <h3 class="text-lg font-semibold text-gray-900">LAMARAN</h3>
                          <p class="text-base font-normal text-gray-500">Kehendak-Nya menuntun kami pada sebuah pertemuan yang tak pernah di sangka hingga akhirnya membawa kami pada sebuah ikatan suci yang dicintai-Nya, kami melangsungkan acara lamaran di bulan September 2023 lalu.</p>
                      </div>
                  </div>
              </div>
              <div class="ms-4 bg-white p-6 rounded-lg my-4 flex items-center shadow-md">
                  <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-white"></div>
                  <div class="sm:flex sm:items-center sm:justify-between w-full pb-2">
                      <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihYFky_nUtXAhbocrfS5GjIAQy5yKKAzh627S1HJOac5pONyAN4NnUD09NWCMeaPA5FxDf6rhiTJ986ZXHW0J2ijHuEkK77kPuQ=s1600-rw-v1" alt="Menikah" class="w-40 h-full rounded-xl object-cover mx-2 sm:order-1 sm:mb-0">
                      <div class="sm:ml-8 sm:flex-1">
                          <time class="mb-1 text-sm font-normal leading-none text-gray-400">Agustus 2024</time>
                          <h3 class="text-lg font-semibold text-gray-900">MENIKAH</h3>
                          <p class="text-base font-normal text-gray-500">Percayalah, bukan karna bertemu lalu berjodoh tapi karna berjodoh lah maka kami dipertemukan, kami memutuskan untuk mengikrarkan janji suci pernikahan kami di bulan Agustus ini insya allah Sebagai mana yang pernah dikatakan oleh saydina Ali bin abi thalib " Apa yang menjadi takdirmu akan menemukan jalannya untuk menemukanmu.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="animated-section min-h-screen flex items-center justify-center bg-[#fefae1] bg-card-2 p-8 bg-opacity-75">
    <div class=" bg-[#8c9776] flex flex-col md:flex-row shadow-md rounded-xl overflow-hidden max-w-7xl relative mx-auto items-center justify-center">
        <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihaDyfVvvIm3AvsS_i200k9F5A21VQWNUTEgbQfwM4SQVB28LuLPHgJoEuwheDm5DKviBuyza3qmgeT3E0-S1KBCUR_BWKFATA=s1600-rw-v1" alt="Filter Instagram" class="h-full object-cover lg:w-96">
        <div class="p-2 md:p-6 text-center w-96 px-4 py-6 md:px-8">
            <h2 class="text-2xl text-white font-semibold mb-2">Filter Instagram</h2>
            <p class="text-gray-100 mb-4">Gunakan instagram filter berikut untuk menambah kemeriahan acara</p>
            <a href="https://www.instagram.com/ar/2277169392626009/"  class="bg-[#fefae1] hover:text-white font-bold py-2 px-8 rounded-full hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50">
                Pakai Filter
            </a>
        </div>
    </div>
</div>


     <!-- section 7 -->
     <div class="animated-section p-6 container mx-auto flex">
      <div class="w-full">
        <app-wedding-gift></app-wedding-gift>
      </div>
    </div>

    <!-- section 8 -->
    <div class="container animated-section mx-auto flex flex-col lg:flex-row items-center justify-center w-full ">
      <div class="w-full lg:w-2/2 text-left">
        <app-guest-form (formSubmitted)="refreshGuestList()"></app-guest-form>
      </div>
      <div class="w-full lg:w-2/2 text-left">
        <app-guest-list #guestList></app-guest-list>
      </div>
    </div>

    <!-- section 9 -->
    <div class="animated-section min-h-screen max-h-screen flex items-center justify-center">
  
      <!-- Kartu yang Sudah Ada -->
      <div class="bg-card-2 bg-[#fefae1] bg-opacity-80 min-h-screen w-full shadow-lg px-4 md:px-8 flex-col mx-auto">
        <div class="animated-section container mx-auto flex flex-col min-h-screen items-center justify-center text-center">
          <div class="w-10/12 md:w-1/2 mb-4 lg:mb-6 p-4 md:p-2">
            <img [src]="preWeddingImage" alt="Pre-wedding photo" class="w-full h-auto rounded-lg shadow-lg">
           </div>
           <div class="mb-4 lg:mb-2 p-4 md:p-2">
           <p class="text-md md:text-xl px-2 md:px-16 font-semibold text-center mb-6">Merupakan suatu kehormatan dan kebahagiaan bagi kami, apabila Bapak/Ibu/Saudara/i berkenan hadir dan memberikan doa restu. Atas kehadiran dan doa restunya, kami mengucapkan terima kasih.</p>
            <p class="text-md md:text-xl font-semibold text-center mb-6">Kami Yang Berbahagia</p>
            <p class="text-4xl md:text-6xl font-stalemate">Nesi & Yogta</p>
          </div>
        </div>
      </div>

  </div>
  
    <div class=" justify-center">
      <app-footer></app-footer>
    </div>
  </div>
  
  @if (showModal) {
    <div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-75 p-4">
      <div class="relative w-full max-w-4xl max-h-[90vh] flex items-center justify-center">
        <button (click)="closeModal()" class="absolute top-2 right-2 text-white text-2xl z-10">&times;</button>
        <div class="w-full h-full flex items-center justify-center overflow-hidden">
          <img [src]="photos[currentIndex].url" [alt]="photos[currentIndex].title" 
               class="max-w-full max-h-[calc(90vh-2rem)] w-auto h-auto object-contain">
          <button (click)="prevPhoto()" 
                  class="absolute left-2 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 rounded-full">
            &lt;
          </button>
          <button (click)="nextPhoto()" 
                  class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 rounded-full">
            &gt;
          </button>
        </div>
      </div>
    </div>
  }
